/*--------------------------------------------------------------------*/
/*  BEAN INSTAGRAM WIDGET - DEFAULT THEME
/*--------------------------------------------------------------------*/
div.widget.bean_500px {
    float: none;
}

.bean500px-image-wrapper {
     float: left;
     margin-bottom: -7px;
     margin-left: -7px;
}

.bean500px_badge_image img {
    border-radius: 3px;
}
	
.bean500px_badge_image {
    background: url(images/bean-500px.png) #02ADEA no-repeat 50% 50%;
    border-radius: 3px;
    float: left;
    margin: 0 0 7px 7px;
}

.bean500px_badge_image a {
    float: left;
    position: relative;
    -webkit-transition: all 0.15s;
       -moz-transition: all 0.15s;
    	-ms-transition: all 0.15s;
    	 -o-transition: all 0.15s;
    	  	transition: all 0.15s;
}

.bean500px_badge_image a:hover {
    opacity: .2;
}

.bean500px_badge_image img {
    float: left;
    height: 60px;
    width: 60px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {	
	.bean500px_badge_image {
		background-image: url(images/bean-500px@2x.png);
		background-size: 22px 12px;
	}
}	